<!DOCTYPE html>
<html>

<head>
  <%- include('header'); %>
  <title>Online Bible</title>
</head>

<body>
  <div class="container">

    <%- include('navbar'); %>

    <div class="row container">
      <div class="col-12 mt-4 mb-2 text-center">
        <h4 class="text-muted"><%= ot_name %></h4>
      </div>

      <% for (var i = 0; i < 39; i++) { %>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2 text-center">
        <a class="text-info" href="/chapter?lang=<%= lang %>&bid=<%= i+1 %>&cid=1"><%= booknames[i] %></a>
      </div>
      <% } %>

      <div class="col-12 mt-2 mb-2 text-center">
        <h4 class="text-muted"><%= nt_name %></h4>
      </div>

      <% for (var i = 0; i < 27; i++) { %>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2 text-center">
        <a class="text-info" href="/chapter?lang=<%= lang %>&bid=<%= i+40 %>&cid=1"><%= booknames[i+39] %></a>
      </div>
      <% } %>
    </div>

  </div>

  <%- include('footer'); %>

</body>

</html>
