<!DOCTYPE html>
<html>

<head>
  <%- include('header'); %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
  <title>Online Bible</title>
</head>

<body>
  <div class="container">

    <%- include('navbar'); %>

    <div class="row">

      <div class="col-lg-3 mt-2">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">快速前往</h6>
            <div class="form-group">
              <label>Book</label>
              <select class="form-control" id="bookpicker"></select>
            </div>
            <div class="form-group">
              <label>Chapter</label>
              <select class="form-control" id="chapterpicker"></select>
            </div>
            <div class="form-group">
              <label>Major Ver.</label>
              <select class="form-control" id="versionpicker"></select>
            </div>
            <div class="form-group">
              <label>Vice Ver.</label>
              <select class="form-control" id="viceversionpicker"></select>
            </div>
            <button class="btn btn-dark" id="goto_btn">前往</button>

          </div>
        </div>
      </div>

      <div class="col-lg-9 mt-2">
        <div class="card">

          <div class="card-header text-center bg-info">
            <% if (prevChapterURL.length != 0) { %>
            <a id="upperPrevChBtn" class="change-link float-left" href="<%= prevChapterURL %>">
              <img src="img/left.svg" alt="previous" style="height: 16px;">
            </a>
            <% } %>

            <div id="chapterTitle" class="mx-auto">
              <span class="ch_verse" style="line-height: 120%;">
                <%= bookname %><br>
                <span style="font-size: 140%;"><%= chaptername %></span>
              </span>
            </div>

            <% if (nextChapterURL.length != 0) { %>
            <a id="upperNextChBtn" class="change-link float-right" style="text-align: right;" href="<%= nextChapterURL %>">
              <img src="img/right.svg" alt="next" style="height: 16px;">
            </a>
            <% } %>
          </div> <!-- card-header -->

          <div class="card-body">
            <table class="table borderless">
              <tbody id="verse_container">
                <% for (verse_n in verses) { %>
                <tr>
                  <td><span class="v_number"><%= verse_n %></span></td>
                  <td>
                    <span class="<%= lang %>_verse"><%- verses[verse_n] %></span>
                    <% if (vlang !== '') { %>
                    <br>
                    <span class="vice_content <%= vlang%>_verse"><%- vverses[verse_n] %></span>
                    <% } %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div> <!-- card-body -->

          <div class="card-footer clearfix">
            <% if (prevChapterURL.length != 0) { %>
            <a class="btn btn-link float-left" href="<%= prevChapterURL %>">
              <span aria-hidden="true">&larr;</span> Prev
            </a>
            <% } %>
            <% if (nextChapterURL.length != 0) { %>
            <a class="btn btn-link float-right" href="<%= nextChapterURL %>">
              Next <span aira-hidden="true">&rarr;</span>
            </a>
            <% } %>
          </div> <!-- card-footer -->

        </div>
      </div>

    </div>

  </div> <!-- END of container -->

  <div class="modal fade" id="fntModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fntModalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="fntModalBody">
          <p class="footnote-verse">
            <blockquote class="blockquote text-center">
              <i id="fntModalVerse">Verse</i>
            </blockquote>
          </p>
          <p class="footnote-content" id="fntModalContent">Footnote</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer'); %>
  <script type="text/javascript" src="js/main.js"></script>

</body>

</html>
