<!DOCTYPE html>
<html>

<head>
  <%- include('header'); %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
  <title>Online Bible</title>
</head>

<body>

  <div class="container">

    <%- include('navbar'); %>

    <div class="row">
      <div class="col-12">
          <table class="table borderless">
            <tbody id="verse_container">
              <% for (key in results) { %>
              <tr>
                <td><a href="<%= results[key].url %>"><span class="resultIndex"><%- results[key].addr %></span></a></td>
                <td><span class="<%= lang %>_verse"><%- results[key].verse %></span></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <%- include('footer'); %>

</body>

</html>
